<nav class="ui menu three">
  <a routerLink="/" class="item">Home</a>
  <a routerLink="/search" class="item">Search</a>
  <div class="right menu">
    <a class="item" href="/dashboard" *ngIf="auth.user | async">Saved Users</a>
    <a class="item" *ngIf="auth.user | async">{{ (auth.user | async)?.email }}</a>
    <button class="ui button red mini" href="/dashboard" *ngIf="auth.user | async" (click)="signOut()">Sign Out</button>
    <a routerLink="/login" *ngIf="!(auth.user | async)" class="item">Login</a>
    <a routerLink="/register" *ngIf="!(auth.user | async)" class="item">Register</a>
  </div>
</nav>

<main class="ui container">
  <router-outlet></router-outlet>
</main>
